.table thead tr th, .table tbody tr td {
    text-align: center;
}

.table td, .table th {
    padding: 5px;
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    border-radius: 2px;
    font-size: 14px;
}

.table, th, .table td {
    border: none;
}

.table th {
    padding: 5px;
}

.table th {
    font-weight: bold;
    text-align: center;
}

.table td, .table th {
    display: table-cell;
    vertical-align: inherit;
}

.table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

.table {

    display: table;
    border-collapse: collapse;
    border-spacing: 2px;
    border-color: grey;
}

.table tbody tr:nth-child(odd){
    background-color: rgba(0,0,0,0.05);
}

.radioGroup{
    display: flex;
    flex-direction: row;
    font-size: 13px;
    padding-left:15px;
    padding-right:15px;
    justify-content: center;
}

mat-radio-group{
    display: flex;
    flex-direction: row;
}

.radioButton{
    margin-left: 10px;
}

mat-radio-group mat-radio-button{
    margin-bottom: 10px;
}

/deep/  .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
    border-color: #006c77;
}

/deep/  .mat-radio-button.mat-accent .mat-radio-inner-circle{
    background-color: #006c77;
}

/deep/ .mat-dialog-container{
    border-radius: 5px;
}

svg.nvd3-svg{
    margin: auto;
}


.request{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.request a{
    color: darkblue;
}

.request a:visited {
    color: green;
}

.request a:hover {
    cursor: pointer;
    color: blue;
}

.informationMessage{
    text-align: center;
    margin-top: 40px;
    font-size: 15px;
}