<div class="container">
<basicCharts></basicCharts>
<br>    
<div class="row">
    <chartEducation></chartEducation>   
    <div>&nbsp;</div>
    <chartFutureStarts></chartFutureStarts>
    <div>&nbsp;</div>         
    <chartWeeklyInterviews></chartWeeklyInterviews>
</div>
<br>
<div class="row">
    <chartEmployer></chartEmployer>   
    <div>&nbsp;</div>
    <chartRecruiters></chartRecruiters>
    <div>&nbsp;</div>
    <chartMix></chartMix>
</div>
<br>
<div class="row">
    <chartRequests></chartRequests>
    <div>&nbsp;</div>
    <chartInterviewsScheduled></chartInterviewsScheduled>
</div>
<br>
<div class="row">  
    <chartRequestAge></chartRequestAge>
    <div>&nbsp;</div> 
    <chartHiringManager></chartHiringManager>
    <div>&nbsp;</div>
    <chartCostPerHire></chartCostPerHire>     
</div>
<br>
