<p>Hi {{panellistName}},</p>

<p>An Interview has been scheduled for a candidate named <strong>{{candidateName}}&nbsp;</strong>with you. Interview Details are given below:</p>

<table border="1" cellpadding="10" cellspacing="1">
	<tbody>
		<tr>
			<td><strong>Level Number</strong></td>
			<td>{{levelOfInterview}}</td>
		</tr>
		<tr>
			<td><strong>Round Number</strong></td>
			<td>Round {{roundNumber}}</td>
		</tr>
		<tr>
			<td><strong>Interview Date</strong></td>
			<td>{{interviewDate}}</td>
		</tr>
		<tr>
			<td><strong>Interview Time</strong></td>
			<td>{{interviewStartTime}} - {{interviewFinishTime}}</td>
		</tr>
		<tr>
			<td><strong>Mode Of Interview</strong></td>
			<td>{{modeOfInterview}}</td>
		</tr>
	</tbody>
</table>

<p>Use the below URL&#39;s for filling feedback for&nbsp;{{candidateName}}&nbsp;and viewing Notes from other panellists :</p>

<p><strong>Feedback URL</strong> - <a href="{{feedbackURL}}">Click Here</a></p>